[user]
    name = Mehdi BAHA
    email = elmehdi.baha@gmail.com
[push]
    default = simple
    autoSetupRemote = true
[alias]
    pl = pull
    ps = push
[pull]
    rebase = true
[core]
    excludesfile = $HOME/.gitignore_global
