
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>local</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/mehdib/.dotfiles/launchd/script.sh</string>
  </array>

  <key>Nice</key>
  <integer>1</integer>

  <key>StartInterval</key>
  <integer>21600</integer>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/Users/mehdib/.launchd.log</string>

  <key>StandardOutPath</key>
  <string>/Users/mehdib/.launchd.log</string>
</dict>
</plist>
