# Reload bash
alias reload='source ~/.bash_profile'

# List all files in colorized, long format
alias l='$(which ls) -lAh --color --group-directories-first' # Works if other ls installed
alias ll='echo Use l or the full path i.e. $(which ls)'
alias ls='$(which ls)'

# Easier navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

# Cd to personalized dirs
alias cdc='cd ~/Documents/coding'
alias kth='cd ~/Documents/kth'

# Applications
alias cat='ccat'
alias scp='scp -r' # Copy dirs too when scp
alias v='/usr/bin/vim'
alias vim='echo Use v or the full path i.e. $(which vim)'
alias vi='echo Use v or the full path i.e. $(which vi)'
alias s='subl'
alias python='python3'
alias pip='pip3'
alias venv='python -m venv env'
alias env='source env/bin/activate'
alias free='python ~/.dotfiles/free.py'
alias cc='pbcopy' # Ctrl-C
alias cv='pbpaste' # Ctrl-V



# Heroku stuff
alias mdb='sudo mongod -f /etc/mongodb.conf'
alias h='heroku'
alias hrun='h local:run'
alias hpromote='h pipelines:promote -r staging'
alias binit='pybabel init -i messages.pot -d translations -l en && pybabel init -i messages.pot -d translations -l fr'
alias bupdate='pybabel extract -F babel.cfg -o messages.pot .'
alias bmerge='pybabel update -i messages.pot -d translations'
alias bcompile='pybabel compile -d translations'

# Git commands
alias gfr='git fetch && git rebase -i origin/master'
alias gl='git log --all --graph --decorate --oneline --first-parent'
alias gs='git status -sb'
alias gc='git commit -m'
alias ga='git add'
alias gd='git diff'
alias gch='git checkout'
alias gb='git branch'
alias ghb='git clone $(pbpaste)'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Trash utilities
# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias empty="sudo /bin/rm -rfv /Volumes/*/.Trashes; sudo /bin/rm -rfv ~/.Trash; sudo /bin/rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# Forbid rm use, encourage del command
alias rm='echo Use del or the the full path i.e. \/bin\/rm'
alias del='trash'
