# Reload bash
alias reload='source ~/.bash_profile'

# List all files in colorized, long format
alias ls="gls --color --group-directories-first"
alias l="ls -lAh"

# Easier navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias cc="code ."

# Applications
alias scp='scp -r' # Copy dirs too when scp
alias v='/usr/bin/vim'
alias python='python3'
alias pip='pip3'
alias venv='python -m venv env'
alias env='source env/bin/activate'
alias dec='deactivate'

# Heroku stuff
alias mdb='sudo mongod -f /etc/mongodb.conf'
alias h='heroku'
alias hrun='h local:run'

# Git stuff
alias gfr='git fetch && git rebase -i origin/master'
alias gl='git log --all --graph --decorate --oneline --first-parent'
alias gs='git status -sb'
alias gc='git commit -m'
alias ga='git add'
alias gd='git diff'
alias gch='git checkout'
alias gb='git branch'

# Enable aliases to be sudoed
alias sudo='sudo '

# Docker stuff
alias res='docker-compose stop && docker-compose up -d'
alias log='docker-compose logs --tail 10 -f web'
