# Make vim the default editor.
export EDITOR='vim';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';
export LC_ALL='en_US.UTF-8';
export LANG='en_US.UTF-8';

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Link Homebrew casks in '/Applications' rather than '~/Applications'
export HOMEBREW_CASK_OPTS='--appdir=/Applications'

# ignore duplicate commands, ignore commands starting with a space
export HISTCONTROL=erasedups:ignorespace

# keep the last 5000 entries
export HISTSIZE=5000

# append to the history instead of overwriting (good for multiple connections)
shopt -s histappend

# Autocorrect typos in path names when using `cd`
shopt -s cdspell

# Change colors
export LS_COLORS='di=01;33'
