# Create & change dir
mkd ()
{
    mkdir -p "$@" && cd "$_"
}

# cd then list dir
function cd {
    builtin cd "$@"; ls
}

# Open file or dir
o ()
{
    if [ $# -eq 0 ]; then
        open .;
    else
        open "$@";
    fi
}

function reload_audio() {
    sudo kextunload /System/Library/Extensions/AppleHDA.kext
    sudo kextload /System/Library/Extensions/AppleHDA.kext
}
