# Create & change dir
mkd ()
{
    mkdir -p "$@" && cd "$_"
}

# cd then list dir
function cd {
    builtin cd "$@"; ls
}

# Open file or dir
o ()
{
    if [ $# -eq 0 ]; then
        open .;
    else
        open "$@";
    fi
}

# Quick deploy to heroku
hdep ()
{
    if [ $# -eq 0 ]; then
        echo "Error: no deploy message found.";
    else
        git add . && gc "$@" && git ps origin master && hpromote || git ps origin master && hpromote
    fi
}

function reload_audio() {
    sudo kextunload /System/Library/Extensions/AppleHDA.kext
    sudo kextload /System/Library/Extensions/AppleHDA.kext
}
